<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width">
      <!-- build:css styles/main.css -->
      <link rel="stylesheet" href="assets/css/bootstrap.css">
      <link rel="stylesheet" href="assets/css/topcoat-mobile-dark.css">  
      <link rel="stylesheet" href="assets/css/main.css">
      <link rel="stylesheet" href="assets/css/animations.css">         
      <!-- build:js scripts/scripts.js -->        
      <!-- angular modules -->    
      <script src="http://code.angularjs.org/1.2.0-rc.2/angular.min.js"></script>
      <script src="http://code.angularjs.org/1.2.0-rc.2/angular-route.min.js"></script>
      <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.min.js"></script>  
      <script src="http://code.angularjs.org/1.2.0-rc.2/angular-sanitize.min.js"></script> 
      <!-- app -->      
      <script src="scripts/app.js"></script>      
      <!-- vendors -->
      <script src="scripts/vendors/spin.js"></script>     
      <script src="scripts/vendors/moment.min.js"></script>            
      <!-- services -->
      <script src="scripts/services/tumblr.js"></script>
      <!-- directives -->
      <script src="scripts/directives/helpers.js"></script>      
      <!-- filters -->
      <script src="scripts/filters/timeago.js"></script>  
      <!-- endbuild -->   
   </head>
   <body ng-app="picoTumblr" ng-controller="MainCtrl">      
      <div class="main-app pt-perspective {{pageAnimation}}">      
         <ng-view class="pt-page"></ng-view>
         <div class="spinner" ng-spinner="{color:'#fff'}" ng-if="tumblr.isLoading"></div>
      </div>                
      <!-- <div class="testBar">
         <a ng-class="{on: currentView=='home'}" href="#/home" page-animation="fromBottom">Route A from bottom</a> |
         <a ng-class="{on: currentView=='thumbs'}" href="#/" page-animation="fromTop">Route B from top</a> |
         <a ng-class="{on: currentView=='viewC'}" href="#/" page-animation="fromLeft">Route C from left</a> |
         <a ng-class="{on: currentView=='home'}" href="#/home" page-animation="fromRight">Route A from right</a> |
         <a ng-class="{on: currentView=='thumbs'}" href="#/" page-animation="scaleDown">Route B scale down</a> |
         <a ng-class="{on: currentView=='viewC'}" href="#/" page-animation="scaleUp">Route C scale up</a> |
         <input type="checkbox" ng-model="tumblr.isLoading" /> {{tumblr.isLoading?'hide':'show'}} Spinner
      </div> -->    
   </body>
</html>
