<div class="pt-page pt-page-b" ng-controller="gridCtrl">
   <!-- header -->
   <section class="thumbs-header">
      <h1 class="header-title" ng-bind-html="tumblr.current.title"></h1>         
      <img ng-src="{{tumblr.current.avatar}}" alt="{{tumblr.current.title}}" class="header-avatar" ng-show="tumblr.current.id">
      <div class="header-info" ng-show="tumblr.current.id"><strong>Last updated</strong>: {{tumblr.current.updated | timeAgo}}  &nbsp;&nbsp;&nbsp;<strong>totalPictures</strong>: {{tumblr.current.totalPictures}}</div>
      <div ng-include="'views/partials/searchform.html'"></div>   
   </section>
   <!-- grid -->
   <div id="grid-carousel" carousel carousel-type="grid" ></div>   
</div>
